body{
	margin: 0;
}
a, a:hover, a:focus{
	text-decoration: none;
	
}
button{
	outline: none;
}
a{
	color: black;
}


.main_header{
	border: 1px solid black;
	background: gray;
	padding: 9px;
}

img.avatar{
	width: 32%;
}
 .line{
	border-bottom:3px solid grey;
	size:100px;
	margin-left:15px;
	margin-right:-10px;
	  
}

img.logo_style{
	width: 17%;
}
span.account_name{
	margin-right: -5em;
}
.paging-nav a{
	padding: 0 .5em;
}
.paging-nav{
	float: right;
}
